


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 0px) {
  
  .nav-desktop {
    display: none;
  }
    
  .nav-phone {
    display: flex;
  }

  .nav-phone ul {
    list-style: none;

  }

  .logo img {
    height: 44px;
  }

  .logo {
    padding: 5px;
    margin-left: 30px;
  }

  nav.nav-phone {
    /* margin-top: px; */
    position: fixed;
    flex-direction: column;
    /* background-color: #f3f3f3; */
    margin: 0px;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    width: 75%;
    /* min-height: 100vh; */
    height: 100%;
    z-index: 250;
    transition: all .3s ease-in-out;
    height: 89vh;
    margin-top: 75px;
  }

  .nav-phone.nav-toggle-off {
    overflow: hidden;
    width: 0px;
  }

  nav.nav-phone div {
    display: flex;
    flex-direction: column;
  }

  .nav-phone .navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
    max-height: 999px;
  }

  .nav-phone .navigation ul li {
    padding: 1rem;
    margin: 0px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    position: relative;
    padding-left: 2rem;
  }

  /* .nav-phone .navigation ul li:hover {
    background-color: #008CBA;
    color: white;
  } */

  /* .nav-phone .active {
    color: white;
    background-color: #008CBA;
  } */

  .nav-phone .sub-closed {
    max-height: 0px !important;
    overflow: hidden;
  }


  .nav-phone .has-submenu ul {
    transition: all .5s ease-in-out;
    position: relative;
  }

  .nav-phone .chevron {
    position: absolute;
    right: 15px;
    top: 16px;
    transition: all .2s ease-out;
    transform: rotate(90deg);
  }

  .nav-phone .sub-closed-chevron {
    transform: rotate(-90deg);
  }

  .nav-header-phone {
    width: 100%;
    /* background-color: #008CBA; */
    padding-top: .1rem;
    padding-bottom: .1rem;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    z-index: 255;
    position: fixed;
    height: 75px;
    margin-bottom: 75px;
  }

  .filigrane {
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: 248;
    transition: all .3 ease-in-out;
  } 

  /* Hamburger */

  .hamburger {
    width: 50px;
    height: 50px;
    position: relative;
    margin: .8rem;
  }

  .bread1 {
    position: absolute;
    width: 50px;
    height: 5px;
    top: 5px;
    left: 0px;
    /* background-color: white; */
    transform-origin: left;
    transition: all .3s ease-in-out;
  }

  .bread2 {
    position: absolute;
    width: 50px;
    height: 5px;
    bottom: 5px;
    left: 0px;
    /* background-color: white; */
    transform-origin: left;
    transition: all .3s ease-in-out;
  }

  .salad {
    position: absolute;
    width: 50px;
    height: 5px;
    top: 22px;
    left: 0px;
    /* background-color: white; */
    transition: all .3s ease-in-out;
  }

  .toggleBread1On {
    transform: rotate(45deg);
  }

  .toggleBread2On {
    transform: rotate(-45deg);
  }

  .toggleSaladOn {
    opacity: 0;
  }

  /*************/

}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .nav-header-phone {
    display: none;
  }

  .nav-desktop {
    display: flex;
  }
    
  .nav-phone {
    display: none;
  }
  
  nav.nav-desktop {
    display: flex;
    flex-direction: row;
    border: 1px solid #e7e7e7;
    /* background-color: #f3f3f3; */
    margin: 0px;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    min-height: auto;
    width: auto;
  }

  nav.nav-desktop div {
    display: flex;
    flex-direction: row;
  }

  .nav-desktop .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  .nav-desktop .navigation ul li {
    padding: 1rem;
    margin: 0px;
    transition: all .3s ease-in-out;
    cursor: pointer;
  }

  .nav-desktop .navigation ul {
    margin-left: 5vw;
  }

  .nav-desktop .has-submenu {
    position: relative;
  }

  .nav-desktop .has-submenu ul {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    display: none;
    /* flex-direction: column; */
    list-style: none;
    margin-top: 1rem;
    left: 0;
    /* background-color: #f3f3f3; */
    border: 1px solid #e7e7e7;
    border-top: none;
    color: black;
    margin-left: 0px;
    min-width: 10rem;
  }

  .nav-desktop .has-submenu:hover > ul, 
  .nav-desktop .has-submenu ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    
  } 

  .menu-fixed {
    position: fixed;
    width: 100% !important;
  }
}