<!-- only for desktop  -->
<nav class="nav-desktop" [ngClass]="{'menu-fixed': _options.menuFixed}" [style]="'background-color: '+_options.theme.primaryBackgroundColor">
	<div class="logo">
    <img *ngIf="_options.logo != null" [src]="_options.logo"> 
  </div>
  <div class="navigation">
    <ul>
      <li *ngFor="let item of params" [ngClass]="{'has-submenu': item.subMenu!=null, 'active': item.active}" [style]="'color: '+_options.theme.primaryColor+';'+(item.active?('color:'+_options.theme.secondaryColor+'; background-color:'+_options.theme.secondaryBackgroundColor+';'):'')" (click)="routing(item)" (mouseenter)="hoverMouseenterLink($event)" (mouseleave)="hoverMouseleaveLink($event)">
        {{ item.label }}
        <ul [hidden]="item.subMenu==null" [style]="'background-color: '+_options.theme.primaryBackgroundColor+'; color: '+_options.theme.primaryColor">
          <li *ngFor="let subItem of item.subMenu" (click)="routing(subItem)" (mouseenter)="hoverMouseenterLink($event)" (mouseleave)="hoverMouseleaveLink($event)">
            {{ subItem.label }}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<!-- only for phone -->
<div class="nav-header-phone" [style]="'background-color:'+_options.theme.secondaryBackgroundColor">
  <div class="hamburger" (click)="toggleMenuAction()">
    <div class="bread1" [ngClass]="{'bread1': true, 'toggleBread1On': toggleMenu}" [style]="'background-color:'+_options.theme.secondaryColor"></div>
    <div class="salad" [ngClass]="{'salad': true, 'toggleSaladOn': toggleMenu}" [style]="'background-color:'+_options.theme.secondaryColor"></div>
    <div class="bread2" [ngClass]="{'bread2': true, 'toggleBread2On': toggleMenu}" [style]="'background-color:'+_options.theme.secondaryColor"></div>
  </div>
</div>
<div *ngIf="toggleMenu" [ngClass]="{'filigrane': true}">

</div>
<nav [ngClass]="{'nav-toggle-off': !toggleMenu, 'nav-phone': true}" [style]="'background-color: '+_options.theme.primaryBackgroundColor">
  <div class="navigation">
    <ul>
      <li *ngFor="let item of params" [ngClass]="{'has-submenu': item.subMenu!=undefined, 'active': item.active}" (click)="clickOnItem(item)" [style]="'color: '+_options.theme.primaryColor+';'+(item.active?('color:'+_options.theme.secondaryColor+'; background-color:'+_options.theme.secondaryBackgroundColor):'')">
        {{ item.label }}
        <div *ngIf="item.subMenu != null" [ngClass]="{'sub-closed-chevron': item.subOpen!=false, 'chevron': true}"><b>></b></div>
        <ul [hidden]="item.subMenu==undefined" [ngClass]="{'sub-closed': item.subOpen==false}">
          <li *ngFor="let subItem of item.subMenu">
            {{ subItem.label }}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
