<simple-menu [params]="params" [options]="options"></simple-menu>
<div style="padding-top: 80px">
    <b>Coucou !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
<div>
    <b>Here come the app content !</b>
</div>
<br/>
